!sample_data_and_plots

# workspace/config/*.csv
workspace/ephemeral/*.csv
workspace/output_data/*.csv
workspace/output_data/*.json
workspace/output_data/*.md
workspace/output_plots/**

archives

__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/

.DS_Store
*/.DS_Store

.vscode/
.gemini/

error.*.log
*/error.*.log

samples/**/output_plots

scratch
TLU-SDLs
error.log
