!sample_data_and_plots

workspace/config/*.csv
workspace/ephemeral/*.csv
workspace/output_data/*.csv
workspace/output_plots/*.png

__pycache__/
*/__pycache__/
.pytest_cache/
*/.pytest_cache/

.DS_Store
*/.DS_Store

.vscode/
.gemini/

error.*.log
*/error.*.log

